.social-links {
  display: flex;
  align-items: center;

  .icon {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid$color-white;
    color: $color-white;
    border-radius: 50%;
    font-size: rem(11);
  }

  &__item {
    transition: $transition-type;
    &:not(:last-child) {
      .icon {
        margin-#{$right}: 15px;
      }
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
}
