.media-center {
    @include addHeader('../img/about.png');

    &__cards {
        margin-top: 40px;
    }

    &__card {
        margin-bottom: 30px;
        height: 100%;

        .icon {
            margin-#{$right}: 10px
        }
    }
}